extends layout

block scripts
  script.
    var chatLogs = !{JSON.stringify(chat.messages)};
  script(src="/socket.io/socket.io.js")
  script(src="/coffee/index.coffee" type="text/coffeescript")

block templates
  script(type="text/template" id="input-template")
    input.from(value!="<%- from %>")
    input.body(value!="<%- body %>" size=40)
    input.send(type="button" value="send")

  script(type="text/template" id="message-template")
    span.view <%- from %> : <%- body %>
    span.edit
      input(value!="<%- body %>" size=40)
    input.delete(value="x" type="button")

  script(type="text/template" id="logs-template")
    ul

block content
  h1= title
  div#input-region
  div#logs-region
